

/* ========================================= */
/* ================== ROOT ================= */
/* ========================================= */

:root {
    
    --body-background-color: #09090b;
    --navbar-background-color: #09090b;
    --settings-page-background-color: #161618; 
    --charts-page-background-color: #161618; 
    --console-page-background-color: #f7f7f7;

    --line-divider-color: #757575;
    --line-divider-lighter-color: #3b7777;

    --page-content-width: 50%;

    --font-size: 16px;
    --padding: 1rem;
}


@font-face {
    font-family: 'Inter';
    src: url('../../../public/assets/fonts/Inter-VariableFont_slnt_wght.ttf') format('truetype');
    font-weight: 100 900; /* Supports weights from 100 to 900 */
    font-style: normal;
}

/* ========================================= */
/* =============== SCROLLBAR =============== */
/* ========================================= */

/* ----------- DEFAULT SCROLLBAR ----------- */

::-webkit-scrollbar-track {
    background-color: var(--body-background-color); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #4e4e4e; 
    border-radius: 8px; 
    height: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999999; 
}

::-webkit-scrollbar {
    width: 10px; 
    height: 5px; 
}
::-webkit-scrollbar-corner {
    background-color: transparent;

}

/* ----------- GRAPHS SCROLLBAR ----------- */


#chart-column::-webkit-scrollbar-track {
    background-color: var(--body-background-color); 
    border-radius: 10px;
}

#chart-column::-webkit-scrollbar-thumb {
    background-color: #4e4e4e; 
    border-radius: 8px; 
}

#chart-column::-webkit-scrollbar-thumb:hover {
    background-color: #999999; 
}

#chart-column::-webkit-scrollbar {
    width: 10px; 
    height: 5px; 
}


/* ========================================= */
/* ================== BODY ================= */
/* ========================================= */

html {
    height: 100%;
}
body {
    font-family: 'Inter', sans-serif; /* Modern, clean sans-serif font */
    background-color: var(--body-background-color); /* Dark background for the whole page */
    color: #ffffff; /* Light text color for readability */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}

/* ========================================= */
/* =============== NAVBAR =============== */
/* ========================================= */


.navbar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--navbar-background-color);
    padding: 2rem 0.5rem;
    height: 100%;
    box-shadow: 4px 0 6px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease;
    width: 60px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar.expanded {
    width: 250px;
}

navbar .logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 2rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.navbar.expanded .logo {
    opacity: 1;
}


.navbar .menu {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    position: relative;
}

.navbar .menu a {
    color: #f2f2f2;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease;
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}
/* .navbar .menu a.active {
    background-color: #0056b3; 
    color: #fff;
} */

.navbar .menu a.active {
    color: #fff;
}

.navbar .highlight {
    position: absolute;
    background-color: rgba(0, 86, 179, 0.5); /* Change this to your desired highlight color */
    border-radius: 5px;
    transition: top 0.3s ease, height 0.3s ease, width 0.3s ease;
    z-index: 0;
}

.navbar .menu a:hover {
    color: #fff;
}

.navbar.expanded .menu a {
    opacity: 1;
}


.navbar .toggle-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #fff;
}


/* ============================================ */
/* ================== PAGES =================== */
/* ============================================ */

.pages-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: 60px;
    overflow: auto;
    transition: margin-left 0.3s ease;
    height: 100%;
    min-width: 1800px;
}

/* background above and below a page */
.pages-background {
    flex-shrink: 0; 
    height: 8px;
    background-color: var(--body-background-color);
}

.pages-container.expanded {
    margin-left: 250px;
}

.page {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    
    margin: 0;
    margin-left: 20px;
    margin-right: 10px;
    border: 2px solid rgb(34, 34, 34);
    border-radius: 10px;
    box-sizing: border-box;

    
    min-width: 1200px;
}

.page.active {
    display: block;
}


/* ============================================= */
/* =============== SETTINGS PAGE =============== */
/* ============================================= */


#settings-page {
    padding-top: 30px;
    
    background-color: var(--settings-page-background-color);
}

#charts-page {
    padding-top: 20px;
    background-color: var(--charts-page-background-color);
}

.page-title {
    width: var(--page-content-width);
}

.line-divider {
    width: var(--page-content-width);
    border-color: var(--line-divider-color);
}

.page-subcontent-container {
    width: var(--page-content-width);
    
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    gap: 1rem; 

    text-align: center;
    padding-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /* width: 100%; */
    margin: 0;
    /* margin: auto; */
}

/* #ports-form-container {
    
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    gap: 1rem; 

    text-align: center;
    padding-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    margin: 0;
} */

.page-subcontent-container  h4 {

    text-align:start; 
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
}

.page-subcontent-container  p {
    color: #afafaf;
}

#ports-header {
    display: flex;
    width: 40%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 0;
    padding: 0;
}

#ports-header p{
    margin: 0;
    padding: 0;
    text-align: start;
}


#loading-spinner {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    display: inline-block;
    margin-left: 10px;
}

.loader-container {
    text-align: center;
}

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    display: inline-block;
    margin-left: 10px;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spin {
    animation: spin 0.5s ease-out;
}

#refresh-button {
    background-color: #4CAF50;
    color: white; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.05s; 
    height: 45px;
}

#refresh-button:hover {
    background-color: #45a049;
}


#eject-button {
    background-color: #242427;
    color: white; 
    padding: 10px 15px; 
    border: none;
    cursor: pointer;
    margin: 0;
    transition: background-color 0.05s; 
    
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0px;
    /* padding: 10px 13px; */
    border: 2px solid var(--line-divider-color);
    border-left: none;
    height: 45px;
}

#eject-button:hover {
    background-color: #d32f2f; 
}



.controls button {
    margin-right: 0px; 
}

.controls {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: start; 
    justify-content: center;
    width: 60%;
}

#ports-option-select {
    /* flex-grow: 1;  */
    font-family: 'Inter', sans-serif; 
    padding: 10px 13px;
    background-color: #242427;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    /* width: calc(100% - 30px);  */
    width: 50%;

    border: 2px solid var(--line-divider-color);
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0px;
    border-right: none;
    height: 45px;
    box-sizing: border-box;
}


#ports-option-select:hover {
    border-color: var(--line-divider-lighter-color);
}

#ports-option-select:focus {
    outline: none;
    border-color:  var(--line-divider-lighter-color);
}

button:disabled {
    background-color: #cccccc; 
    cursor: not-allowed; 
    opacity: 0.5;
    border: 1px solid #999999; 
}

button:disabled:hover {
    background-color: #cccccc; 
    cursor: not-allowed; 
    opacity: 0.5;
    border: 1px solid #999999; 
}

/* Button Styles */
button {
    background-color: #4c51bf; /* Indigo shade */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.1s;
    font-size: 16px;
    margin: 0 10px;
}

button:hover {
    background-color: #434190;
}

/* Style for options */
#ports-option-select option {
    padding: 10px;
    background-color: white;
    color: #333;
}


/* @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} */




 #buttonContainer {
    background-color: #242424;
    border: 2px solid #4caf50;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center; 
    width: 200px;
    height: 200px;
    padding: 10px;
    box-sizing: border-box; 
    margin: 0;
}

#buttonContainer button {
    font-family: 'Inter', sans-serif;
    background-color: #e69615;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    width: 80%; 
    text-align: center; 
    border-radius: 4px; 
    cursor: pointer;
    font-size: 15px;
    font-weight: bolder;
    transition: background-color 0.3s ease;
}

#buttonContainer button:hover {
    background-color: #df7e29;
}

/* button is clicked  */
#buttonContainer button:active {
    background-color: #d35400;
    transform: translateY(2px);
}

#buttonContainer button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}


